<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RGB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RGB.Properties.Settings>
            <setting name="ServerAddress" serializeAs="String">
                <value>visc</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="Protocol" serializeAs="String">
                <value>tcp</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="ComBaud" serializeAs="String">
                <value>9600</value>
            </setting>
        </RGB.Properties.Settings>
    </userSettings>
</configuration>